    .title:focus,.author:focus,.pages:focus{
    outline: none;
    }
    input[type="submit"]{
      background:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
      color: rgba(255, 255, 255, 0.7);;
      font-size: 1em;
    }
    h1{
      text-align: center;
      margin-left: 40%;
    }

  .login-form{
    width:600px;
    margin: 0 auto;
    display: flex;
    background: #eff3f9;
    flex-direction: row;
    justify-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .add-book{
    background:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
    height:50px;
    width:568px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .add-book h3{
    color:#fff;
    margin-left: 30px;
    margin-top: 15px;;
  }
  .title{
    height: 40px;
    margin:1em;
    flex:1 0 550px;
  }
  .author{
    height: 40px;
    margin: 1em;
    flex: 2 0 225px;
  }
  .pages{
    height: 40px;
    margin: 1em;
    flex: 2 0 225px;
  }
  input[type="submit"]{
    height: 40px;
    margin: 1em;
    flex:1 0 550px;
  }
 .add-form .login-form{
   display: none;
 }
